@model AwardHeaderLinkModel
@{
    <link rel="stylesheet" href="~/Plugins/Annique.Customization/Content/css/annique.css" />
}
<div class="awardclaim-link">
    <a href="@Model.AwardListPageLink">@T("AwardHeaderLink.Text")</a>
</div>