<link rel="stylesheet" href="~/Plugins/Annique.Customization/Content/css/annique.css" />
<div class="search-option-selection">
    <input type="radio" id="anyWords" name="searchOption" value="AnyWords" />
    <label for="anyWords">
        Any Words
    </label>
    <input type="radio" id="allWords" name="searchOption" value="AllWords" checked />
    <label for="allWords">
        All Words
    </label>
</div>