@model (CheckoutLoginModal loginModel, CheckoutRegisterModel registerModel)

<div class="modal fade bd-example-modal-lg2 giftcard-outer giftmulti-qty login-register-popup" id="GuestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <div class="modal-body checkout-popup-wrapper">
                <div class="product-upper-row login-upper-row">
                    <div class="col-md-6 productdetail-wrapper logindetail-wrapper">
                        @await Html.PartialAsync("_CheckoutLoginPartial", Model.loginModel)
                    </div>
                    <div class="icons-wrapper">
                        <div class="login-icon quick-access-icon"></div>
                        <div class="login-icon seamless-icon"></div>
                        <div class="login-icon delivery-icon"></div>
                        <div class="login-icon login-product-icon"></div>
                    </div>
                </div>
                <div class="product-upper-row">
                    <div class="col-md-6 productdetail-wrapper">
                        @await Html.PartialAsync("_CheckoutRegisterPartial", Model.registerModel)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
