@model ReportModel

@{
    Layout = "_AdminLayout";
}
@{
    //page title
    ViewBag.PageTitle = T("Admin.Configuration.AnniqueReports.AddNew").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Annique.Plugin.Nop.Customization.Report");
}

<form asp-controller="AdminAnniqueReport" asp-action="Create" method="post" id="report-form">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Admin.Configuration.AnniqueReports.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Admin.Configuration.AnniqueReports.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate.cshtml", Model)
</form>